@import"https://fonts.cdnfonts.com/css/whitney-2";
* {
    user-select: none;
    outline: 0;
    margin: 0;
    padding: 0;
    transition-duration: .05s;
    scrollbar-width: thin
}

img {
    pointer-events: none
}

textarea,
button,
input {
    font-family: "Whitney"
}


/*
BRANDING OLD

#36393f
#2f3137
*/

body {
    background: #111214;
    color: #fcfcfc;
    margin: 0 auto;
    width: calc(100% - 60px);
    padding: 0 30px;
    max-width: 1300px;
    height: 100%;
    font-family: "Whitney"
}

body nav {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between
}

body nav a {
    text-decoration: none;
    color: #fcfcfc
}

body nav a header {
    display: flex;
    align-items: center
}

body nav a header img {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 10px;
    border: 1px solid #3d3e43;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .2)
}

body nav ul {
    display: flex;
    align-items: center;
    list-style: none
}

body nav ul li {
    margin-left: 25px
}

body nav ul li a {
    text-decoration: none;
    color: #fcfcfc;
    cursor: pointer
}

body nav ul li a:hover {
    color: #c4c4c4
}

body main {
    min-height: calc(100vh - 8rem)
}

body footer {
    height: 4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    opacity: .7;
    font-weight: 300
}

::-webkit-scrollbar {
    width: 2px
}

@media screen and (max-width: 550px) {
    body nav ul {
        flex-direction: column;
        align-items: flex-end
    }
    body nav ul .hide {
        display: none
    }
    body nav ul li {
        font-size: 16px;
        margin-left: 0;
        margin-bottom: 2px
    }
    body nav ul li:first-child {
        margin-top: 5px
    }
}

@media screen and (max-width: 450px) {
    body {
        width: calc(100% - 40px);
        padding: 0 20px
    }
}

@media screen and (max-width: 350px) {
    body {
        width: calc(100% - 26px);
        padding: 0 13px
    }
}

@media screen and (max-width: 250px) {
    body nav header h1 {
        display: none
    }
    body nav ul li {
        font-size: 14px
    }
}

@media screen and (max-width: 170px) {
    body nav ul {
        display: none
    }
}