section.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: calc(100vh - 10rem)
}

section.hero div.content {
    max-width: 570px
}

section.hero div.content h1 {
    font-size: 54px;
    font-weight: 700
}

section.hero div.content p {
    margin-top: 10px;
    font-size: 28px;
    font-weight: 400;
    opacity: .8
}

section.hero div.content ul {
    margin-top: 20px;
    list-style: none;
    display: flex;
    align-items: flex-start;
    min-height: 100px
}

section.hero div.content ul li {
    margin-right: 20px
}

section.hero div.content ul li a {
    border-radius: 6px;
    border: 1px solid #838383;
    background: #5c5d5f;
    /*7289da*/
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .15);
    padding: 15px 25px;
    font-size: 18px;
    text-decoration: none;
    color: #fcfcfc;
    font-weight: 500;
    letter-spacing: .4px;
    display: block
}

section.hero div.content ul li a:hover {
    margin-top: 2.5px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .07)
}

section.hero div.content ul li:not(:first-child) a {
    background: #fcfcfc;
    color: #36393f;
    /*2c2f33*/
    border: 1px solid #36393f
}

section.hero aside {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    max-width: 250px;
    width: 100%
}

section.hero aside ul {
    list-style: none;
    width: 100%
}

section.hero aside ul li {
    border-radius: 6px;
    width: calc(100% - 24px);
    border: 1px solid #3d3f42;
    background: #1a1b1d;
    padding: 12px;
    margin-bottom: 15px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .07)
}

section.hero aside ul li header {
    font-size: 14px;
    font-weight: 700;
    color: #c4c4c4;
    text-transform: uppercase;
    display: flex;
    align-items: center
}

section.hero aside ul li header svg {
    margin-right: 3px
}

section.hero aside ul li p {
    font-size: 36px;
    font-weight: 600
}

@media screen and (max-width: 900px) {
    section.hero {
        align-items: flex-start;
        justify-content: center;
        flex-direction: column
    }
    section.hero aside {
        max-width: 100%
    }
    section.hero aside ul {
        max-width: 350px
    }
}

@media screen and (max-width: 420px) {
    section.hero div.content ul {
        flex-direction: column;
        margin-bottom: 20px
    }
    section.hero div.content ul li {
        width: 100%;
        margin-bottom: 10px
    }
}

.link {
    color: #7289da;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}