section.commands {
    padding: 70px 0
}

section.commands header {
    display: flex;
    justify-content: space-between
}

section.commands header h1 {
    font-size: 32px;
    display: flex;
    align-items: center
}

section.commands header h1 svg {
    margin-right: 5px
}

section.commands header div.search {
    padding: 10px 12px;
    background: #212326;
    border-radius: 6px;
    border: 1px solid #212326;
    display: flex;
    align-items: center;
    min-width: 250px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .05)
}

section.commands header div.search:hover {
    border: 1px solid #212326;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .025)
}

section.commands header div.search svg {
    color: #c4c4c4;
    margin-right: 8px
}

section.commands header div.search input {
    background: 0;
    border: 0;
    color: #fcfcfc;
    width: 100%
}

section.commands div.flex {
    display: flex;
    margin-top: 15px
}

section.commands div.flex aside {
    min-width: 330px;
    max-width: 330px;
    width: 100%;
    margin-right: 20px
}

section.commands div.flex aside ul {
    list-style: none
}

section.commands div.flex aside ul li {
    padding: 12px;
    border-radius: 6px;
    background: #212326;
    border: 1px solid #212326;
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .075)
}

section.commands div.flex aside ul li:hover {
    background: #212326;
    border: 1px solid #2c2f33;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, .025)
}

section.commands div.flex aside ul li svg {
    margin-right: 5px
}

section.commands div.flex aside ul li.active {
    background: #fcfcfc;
    color: #212326
}

section.commands div.flex div.content {
    width: 100%
}

section.commands div.flex div.content h1 {
    font-size: 42px
}

section.commands div.flex div.content ul {
    list-style: none
}

section.commands div.flex div.content ul li.card {
    background: #212326;
    border: 1px solid #212326;
    border-radius: 6px;
    width: 100%;
    margin-top: 15px
}

section.commands div.flex div.content ul li.card header {
    font-weight: 600;
    font-size: 24px;
    padding: 10px;
    width: calc(100% - 20px);
    border-bottom: 1px solid #424549
}

section.commands div.flex div.content ul li.card div.content {
    padding: 10px;
    width: calc(100% - 20px)
}

section.commands div.flex div.content ul li.card div.content p {
    font-size: 20px;
    line-height: 1.6
}

section.commands div.flex div.content ul li.card div.content code {
    padding: 2px 4px;
    border-radius: 6px;
    background: #2c2f33;
    font-size: 16px
}

section.commands div.flex div.content ul li.card div.content div.value:first-child h1 {
    margin-top: 0
}

section.commands div.flex div.content ul li.card div.content div.value h1 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #c4c4c4;
    margin: 10px 0
}

section.commands div.flex div.content ul li.card div.content div.value p {
    line-height: 1.2;
    margin: -2px 0
}

section.commands div.flex div.content ul li.card div.content div.value code {
    font-size: 18px
}

section.commands div.flex div.content ul li.card div.content div.value pre {
    font-family: monospace;
    font-size: 18px;
    font-weight: 500;
    color: #c4c4c4;
    user-select: text;
    word-break: break-all;
    white-space: pre-wrap
}

@media screen and (max-width: 860px) {
    section.commands {
        padding: 30px 0
    }
    section.commands header {
        flex-direction: column
    }
    section.commands header div.search {
        margin-top: 10px;
        min-width: fit-content
    }
    section.commands div.flex {
        flex-direction: column
    }
    section.commands div.flex aside {
        max-width: 100%;
        margin-top: 10px
    }
}